PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://YOUR_DB_USERNAME:YOUR_DB_PASSWORD@YOUR_CLUSTER.mongodb.net/pharmacart?retryWrites=true&w=majority&appName=PharmaCart
MONGODB_DB_NAME=pharmacart
JWT_SECRET=CHANGE_THIS_TO_A_NEW_LONG_RANDOM_SECRET
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SSLCOMMERZ_IS_LIVE=false
BKASH_DEMO_OTP=123456
BREVO_API_KEY=
BREVO_SENDER_ID=
CONTACT_RECIPIENT_EMAIL=
ADMIN_NAME=PharmaCart Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=
